body {
  margin: 0;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: relative;
  width: 1152px;
  height: 700px;
  border: solid red;
}

.menu {
  position: absolute;
  width: 558px;
  height: 45px;
  left: 293px;
  top: 17px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  border: solid red;
}

ul {
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 0px 16px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.chel {
  position: absolute;
  margin: 0;
  width: 407px;
  height: 407px;
  top: 70px;
  left: 24px;
}

.mainText {
  position: absolute;
  left: 407px;
  top: 202px;
  width: 330px;
  height: 162px;

  border: solid yellow;

  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 200px;
  text-align: center;

  line-height: 77px;

  color: #ffffff;
}

h1 {
  margin: 0;
}

.secondaryText {
  position: absolute;
  width: 543px;
  height: 29px;
  left: 293px;
  top: 426px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #ffffff;
  border: solid yellow;
}

p {
  margin: 0;
}

.btns {
  position: absolute;
  width: 322px;
  height: 49px;
  left: 415px;
  top: 525px;
  border: solid yellow;
}

.btn {
  position: relative;
  width: 113px;
  height: 49px;
  background: #fdb827;
  border-radius: 8px;
}
